{% extends 'base.html.twig' %}

{# {% block title %}New Produit{% endblock %} #}
{% block h1 %}Ajouter un nouveau produit{% endblock %}

{% block body %}

    {{ include('admin/produit/_form.html.twig') }}

    <a href="{{ path('app_admin_produit_index') }}"><i class="fa fa-reply"></i>Retour à la liste</a>
{% endblock %}
