{% extends 'base.html.twig' %}

{# {% block title %}Modifier client{% endblock %} #}
{% block h1 %}Modifier un client{% endblock %}

{% block body %}
   

    {{ include('admin/client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_client_index') }}">Retour à la liste</a>

    {{ include('admin/client/_delete_form.html.twig') }}
{% endblock %}
