{% extends "base.html.twig" %}

{% block body %}
    {% if age < 18 %}
        <p>Vous êtes mineur</p>
    {% elseif age < 62 %}
        <p>Vous êtes majeur</p>
    {% else %}
        <p>Vous êtes retraité</p>
    {% endif %} 

    <p>Dans un fichier on peut utiliser la balise IF pour afficher de l'HTML selon une condition
    si on veut tester plusier condition on utilise elseif; pas de balise switch</p>
    {% if age same as 18 %}
        <p>Vous etes tout juste majeur !!!</p>
    {% elseif age same as 18 %}
        <p>Vous etes tout juste majeur !!!</p>
    {% endif %}
{% endblock %}