{% extends 'base.html.twig' %}

{% block title %}Résultats recherche{% endblock %}

{% block h1 %}Résultats de la recherche du mot : <code>{{ mot }}</code> {% endblock %}

{% block body %}
<div class="card-columns">
    {% for produit in produits %}
        {% include ("produit/card.html.twig") %}
    {% endfor %}
</div>
{% endblock %}
