{% extends 'base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1>Edit Commande</h1>

    {{ include('admin/commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_commande_index') }}">Retour à la liste</a>

    {{ include('admin/commande/_delete_form.html.twig') }}
{% endblock %}
