{% extends 'base.html.twig' %}

{% block title %}Nouvelle Commande{% endblock %}
{% block h1 %} Créer une nouvelle commande{% endblock %}

{% block body %}
    

    {{ include('admin/commande/_form.html.twig') }}

    <a href="{{ path('app_admin_commande_index') }}">Retour à la liste</a>
{% endblock %}
